.profileCard {
  width: 300px;
  border: 3px solid black;
  border-radius: 16px;
  background-color: antiquewhite;
  margin-bottom: 50px;
  margin: 0 auto 50px;
}

.userProfile {
  padding: 20px;
}

.profileImg {
  margin: 0 auto;
  max-width: 200px;
  background-color: rgb(50, 49, 49);
  border-radius: 50%;
}

.profilName {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}

.profilTag {
  color: grey;
}

.profilLocation {
  color: grey;
  font-weight: 500;
}

.profileRecord {
  color: black;
  display: flex;
  background-color: rgb(155, 154, 154);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.record {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #6d6d6d;
}

.record:not(:last-child) {
  border-right: 2px solid #6d6d6d;
}

.recordValue {
  font-weight: 500;
}
